<!DOCTYPE html>
<html lang="en">
<head>
<title>ToGiv</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">

</head>
<body>

<header>
  <h2>ToGiv: To Give Image a voice.</h2>
</header>


    <h1>project1</h1>

    <div>  <div class="container text-center">
    <div class="col-sm-12">
      <div class="form">
        <h1>Upload a photo!</h1>

        <!-- IMAGE UPLOAD FORM -->
        <form action="http://localhost:5000/uploader" enctype="multipart/form-data" method="POST">
          <div class="inner-wrap">
            <input type="file" name="file">
            <div class="section">Note: Only image files are allowed.</div>
            <div class="button-section">
              <input type="submit" />
            </div>
          

<p>..........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................</p>

</div>
    <h1>Project2</h1>

    <div>  <div class="container text-center">
    <div class="col-sm-12">
      <div class="form">
        <h1>Upload a photo!</h1>
        
        <!-- IMAGE UPLOAD FORM -->
        <form action="http://localhost:5000/uploader" enctype="multipart/form-data" method="POST">
          <div class="inner-wrap">
            <input type="file" name="file">
            <div class="section">Note: Only image files are allowed.</div>
            <div class="button-section">
              <input type="submit" />
            </div>
          
   
</div>
<p>




</p>
<footer>
  <p>Footer</p>
</footer>

</body>
</html>
